<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<context id="DB2Tables" targetRuntime="MyBatis3">

		<!-- 关闭掉生成代码文件的注释 -->
		<commentGenerator>
			<property name="suppressAllComments" value="true" />
		</commentGenerator>

		<!-- 数据库连接 -->
		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://localhost:3306/smsdb"
			userId="root" password="root">
		</jdbcConnection>

		<!-- java类型解析 -->
		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<!-- 指定实体类生成位置，包路径以及项目名 -->
		<javaModelGenerator targetPackage="com.ygd.SSM2.entity"
			targetProject=".\src\main\java">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<!-- 指定sqlMapper.xml文件生成位置 -->
		<sqlMapGenerator targetPackage="mapper" targetProject=".\src\main\resources">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<!-- 指定mapper接口的生成位置 -->
		<javaClientGenerator type="XMLMAPPER"
			targetPackage="com.ygd.SSM2.mapper" targetProject=".\src\main\java">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>

		<!-- 指定要逆向生成的表 -->
		<table tableName="employee" domainObjectName="Employee"></table>
		<table tableName="department" domainObjectName="Department"></table>

	</context>
</generatorConfiguration>